* {
  font-family: 'Roboto';
}
.container {
  background-color: #161625;
  min-height: 100vh;
  padding: 2% 10% 2% 10%;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.heading {
  color: #2cc6c6;
  font-weight: bold;
  font-size: 25px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.vaccination-heading {
  color: #ffffff;
  font-weight: 400;
}
.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.failure-img {
  width: 400px;
  height: 400px;
  margin-top: 20px;
}
.failure-heading {
  color: #ffffff;
}
